<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.carc.btown">

    <!-- BILLING - Donations -->
    <uses-permission android:name="com.android.vending.BILLING"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <!-- ENABLE CAMERA FROM B-TOWN -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- ENABLE CALL ATTRACTION -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- SOME FEATURES REQUIRED FOR WIKI BROWSER -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:name="me.carc.btown.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_rnd"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <!--android:theme="@style/AppTheme.FullScrnActivity">-->
        <!--<activity android:name="me.carc.btown.tours.top_pick_lists.FourSquareListsActivity">-->
        <activity android:name="me.carc.btown.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="me.carc.btown.MapActivity"
            android:hardwareAccelerated="false"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:pathPattern="/*.kml"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern="/*.kml"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.kml"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.kmz"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.json"
                    android:scheme="file" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme"/>



        <activity
            android:name="me.carc.btown.extras.messaging.CommentsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>

        <activity
            android:name="me.carc.btown.extras.messaging.FirebaseImageActivity"
            android:label="User Images Viewer"
            android:theme="@style/AppTheme.FullScrnActivity"/>

        <activity
            android:name="me.carc.btown.camera.CameraActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".extras.PublicTransportPlan"
            android:theme="@style/AppTheme" />



        <activity
            android:name="me.carc.btown.map.sheets.wiki.WikiWebViewActivity"
            android:theme="@style/AppTheme" />


        <!-- TOURS -->
        <activity
            android:name="me.carc.btown.tours.ToursLaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScrnActivity" />

        <activity
            android:name="me.carc.btown.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MapActivity" />
        </activity>




        <activity
            android:name="me.carc.btown.tours.top_pick_lists.FourSquareSearchResultActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MapActivity" />
        </activity>

        <activity
            android:name="me.carc.btown.tours.top_pick_lists.FourSquareListsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScrnActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tours.ToursLaunchActivity" />
        </activity>

        <activity
            android:name="me.carc.btown.tours.top_pick_lists.FourSquareListDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tours.top_pick_lists.FourSquareListsActivity" />
        </activity>

        <activity
            android:name="me.carc.btown.tours.top_pick_lists.VenueTabsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.FullScrnActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tours.top_pick_lists.FourSquareListDetailsActivity" />
        </activity>



        <activity
            android:name="me.carc.btown.tours.CatalogueActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScrnActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MapActivity" />
        </activity>

        <activity
            android:name="me.carc.btown.tours.CataloguePreviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MapActivity" />
        </activity>

        <activity
            android:name="me.carc.btown.tours.AttractionTabsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.FullScrnActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MapActivity" />
        </activity>
        <activity
            android:name="me.carc.btown.tours.attractionPager.AttractionPagerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.FullScrnActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MapActivity" />
        </activity>
        <activity
            android:name="me.carc.btown.tours.AttractionShowcaseImageActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ShowCaseGallery">
        </activity>
            <!--android:screenOrientation="portrait"-->

        <activity
            android:name="me.carc.btown.tours.attractionPager.AttractionMapActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tours.attractionPager.AttractionPagerActivity" />
        </activity>


        <service
            android:name=".tours.data.services.FirebaseImageDownloader"
            android:exported="false"/>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fbef5068aff924f588f1045c445fae0a1e2eaa4a" />


        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider603938643122200"
            android:exported="false">
        </provider>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

    </application>

</manifest>