<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="me.carc.btown">

    <!-- BILLING - Donations -->
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- WALLPAPER PERM FOR ANDROID 6 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>

    <!-- ENABLE CAMERA FROM B-TOWN -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- ENABLE CALL ATTRACTION -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- SOME FEATURES REQUIRED FOR WIKI BROWSER -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_skyline_squ"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_skyline_rnd_blue"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".map.MapActivity"
            android:hardwareAccelerated="false"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.front_page.FrontPageActivity">
            </meta-data>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="*"
                    android:pathPattern="/*.kml"
                    android:scheme="http"/>
                <data
                    android:host="*"
                    android:pathPattern="/*.kml"
                    android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.kml"
                    android:scheme="file"/>
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.kmz"
                    android:scheme="file"/>
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.json"
                    android:scheme="file"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsThemeCompat"/>

        <activity
            android:name=".tours.top_pick_lists.TrendingSettingsActivity"
              android:theme="@style/AppTheme"/>

        <activity
            android:name=".ui.front_page.FrontPageActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.front_page.getting_about.TransportActivity"
            android:theme="@style/SettingsTheme"/>
        <activity
            android:name=".ui.front_page.good_to_know.GoodToKnowActivity"
            android:theme="@style/SettingsTheme"/>
        <activity
            android:name=".extras.messaging.CommentsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".extras.messaging.FirebaseImageActivity"
            android:label="User Images Viewer"
            android:theme="@style/AppTheme.FullScrnActivity"/>
        <activity
            android:name=".camera.CameraActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".extras.PublicTransportPlanExtra"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".extras.PublicTransportPlan"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".extras.WikiWebViewActivity"
            android:theme="@style/AppTheme"/>

        <!-- TOURS -->
        <activity
            android:name=".tours.ToursLaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScrnActivity"/>
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".map.MapActivity"/>
        </activity>
        <activity
            android:name=".tours.top_pick_lists.FourSquareSearchResultActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".map.MapActivity"/>
        </activity>
        <activity
            android:name=".tours.top_pick_lists.FourSquareListsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScrnActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.front_page.FrontPageActivity"/>
        </activity>
        <activity
            android:name=".tours.top_pick_lists.FourSquareListDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tours.top_pick_lists.FourSquareListsActivity"/>
        </activity>
        <activity
            android:name=".tours.top_pick_lists.VenueTabsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.FullScrnActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tours.top_pick_lists.FourSquareListDetailsActivity"/>
        </activity>
        <activity
            android:name=".ui.front_page.externalLinks.ExternalLinksActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".tours.CatalogueActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScrnActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.front_page.FrontPageActivity"/>
        </activity>
        <activity
            android:name=".tours.CataloguePreviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tours.CatalogueActivity"/>
        </activity>
        <activity
            android:name=".tours.AttractionTabsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.FullScrnActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tours.CataloguePreviewActivity"/>
        </activity>
        <activity
            android:name=".tours.attractionPager.AttractionPagerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.FullScrnActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tours.AttractionTabsActivity"/>
        </activity>
        <activity
            android:name=".tours.AttractionShowcaseImageActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ShowCaseGallery">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tours.AttractionTabsActivity"/>
        </activity>
        <!-- android:screenOrientation="portrait" -->

        <activity
            android:name=".tours.attractionPager.AttractionMapActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tours.attractionPager.AttractionPagerActivity"/>
        </activity>

        <service
            android:name=".tours.data.services.FirebaseImageDownloader"
            android:exported="false"
            android:stopWithTask="true"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths"/>
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fbef5068aff924f588f1045c445fae0a1e2eaa4a"/>

        <!--
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider603938643122200"
            android:exported="false">
        </provider>


        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"/>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        -->

    </application>

</manifest>